@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    &__top{
        background-color: #000;
        .container{
            display: flex;
            justify-content: space-between;
            font-size: 28px;
            color: #fff;
            padding: 20px;
            .header__top-left{
                display: flex;
                .link{
                    padding-left: 70px;
                    a{
                        color: #009FE4;
                    }
                }
            }
            .header__top-right{
                i{
                    cursor: pointer;
                }
                display: flex;
                .inst{
                    padding-right: 30px
                }
            }
        }
    }
    &__main{
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .container{
            padding-top: 100px;
            padding-bottom: 80px;
            color: #fff;
            display: flex;
            .left{
                width: 700px;
                &-title{
                    h1{
                        font-size: 36px;
                        margin: 0;
                        font-weight: 100 !important;
                    }
                    span{
                        color: #FFE800;
                    }
                    p{
                        padding: 30px 0;
                    }
                }
                &-text{
                    .list{
                        padding-bottom: 30px;
                        li{
                            list-style-type: disc;
                            list-style-position: inside;
                            padding: 10px 0;
                        }
                    }
                }
            }
            .right{
                position: relative;
                width: 615px;
                max-height: 600px;
                margin: 0 auto;
                .item1{
                    top: 0;
                    left: 0;
                    width: 200px;
                }
                .item2{
                    left: 70px;
                    position: absolute;
                    width: 500px;
                    top: 200px;
                    margin: 0 auto;
                }
                .item3{
                    position: absolute;
                    top: 389px;
                    left: 0px;
                    width: 567px;
                    margin: 0 auto;
                }
            }
        } 
    }
}

.block2{
    background-color: #fff;
    .title{
        text-align: center;
        padding-top: 60px;
    }
    .items{
        padding-bottom: 60px;
        .item{
            display: flex;
            justify-content: center;
            &-right{
                width: 960px
            }
        }
    }
}

.block3{
    background-color: #00354B;
    color: #fff;
    padding-bottom: 60px;
    .container{
        text-align: center;
        .title{
            padding-top: 60px;
            padding-bottom: 40px;
            h2{
                font-size: 38px;
                font-weight: 100;
            }
            .sub-title{
                display: flex;
                justify-content: space-evenly;
                h3{
                    font-size: 32px;
                    font-weight: 100;
                }
                span{
                    color: #FFE800;
                }
            }
        }
        form{
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            input{
                &+ input{
                    margin-left: 20px;
                }
                width: 650px;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 4px;
                border: 0;
                padding: 20px;
            }
        }
    }
}

.block4{
    .title{
        text-align: center;
        h2{
            font-size: 38px;
            font-weight: 100;
        }
        p{
            font-size: 28px;
        }
    }
    .items{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        padding: 20px 0;
        .item{
            h3{
                padding-left: 20px;
                margin: 0;
                padding-top: 10px;
            }
            ul{
                padding-left: 20px;
            }
            img{
                width: 100%;
            }
        }
    }
}

.block5{
    background-color: #00354B;
    color: #fff;
    padding-bottom: 60px;
    text-align: center;
    h2{
        padding-top: 40px;
        font-size: 38px;
        font-weight: 100;
    }
    .sub-title{
        display: flex;
        justify-content: space-evenly;
        h3{
            font-size: 32px;
            font-weight: 100;
            color: #FFE800;
        }
    }
    p{
        font-size: 24px;
        a{
            color: #009FE4;
        }
    }
}

.block6{
    .title{
        padding-top: 60px;
        text-align: center;
        h2{
            padding-top: 40px;
            font-size: 38px;
            font-weight: 100;
        }
        p{
            a{
                color: #009FE4;
            }
        }
    }
    .inner{
        p{
            font-size: 20px;
        }
        &-items{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: center;
            padding: 40px 0;
            .item{
                width: 180px;
                span{
                    font-size: 36px;
                    color: #FFE800;
                }
                .img{
                    padding: 20px 0;
                }
            }
        }
    }
    .sub-title{
        color: #000;
        opacity: 0.5;
        padding-bottom: 60px;
        p{
            padding: 30px 0;
        }
    }
}

.block7{
    background: rgba(226, 226, 226, 0.25);
    h2{
        padding-top: 40px;
        font-size: 38px;
        font-weight: 100;
        text-align: center;
    }
    .inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        .left{
            ul{
                li{
                    display: flex;
                    padding: 15px 0;
                    p{
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

.price{
    h2{
        padding-top: 40px;
        font-size: 38px;
        font-weight: 100;
        text-align: center;
    }
    .price__inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        &-item{
            width: 292px;
            background: #FFFFFF;
            box-shadow: -1px -1px 30px rgba(0, 0, 0, 0.07), 1px 1px 30px rgba(0, 0, 0, 0.07);
            position: relative;
            h3{
                text-align: center;
            }
            ul{
                margin: 0px 5px;
                li{
                    .item-trigger{
                        font-weight: 100;
                        cursor: pointer;
                    }
                    h4::before{
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
                        color: #FFE800;
                    }
                    h4::after{
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
                        float: right;
                        //   transform: rotate(90deg);
                    }
                    .item-show{
                        display: none;
                        li{
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .total{
                text-align: center;
            }
            span{
                padding: 20px;
            }
            .btn-cont{
                position: relative;
                .btn{
                    font-size: 18px;
                    padding: 20px !important;
                    margin: 29px;
                }
            }
        }
        &-item:hover{
            box-shadow: 0px 7px 24.3px 2.7px #FFE800;
        }
    }
}

.block9{
    background-color: #00354B;
    color: #fff;
    h2{
        padding-top: 40px;
        font-size: 38px;
        font-weight: 100;
        text-align: center;
    }
    ul{
        font-size: 28px;
        padding-bottom: 30px;
        li{
            padding: 20px 0;
            i{
                padding-right: 20px;
            }
            a{
                color: #009FE4;
            }
        }
    }
}

.footer{
    background-color: #fff;
    .logo{
        text-align: center;
        padding-top: 30px;
    }
    .footer__inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        .left{
            display: flex;
            ul{
                + ul{
                    padding-left: 40px;
                }
                li{
                    padding: 10px 0;
                    a{
                        color: #000;
                    }
                }
            }
        }
        .right{
            color: #000;
            font-size: 24px;
            ul{
                li{
                    padding: 10px 0;
                    i{
                        padding-right: 10px;
                        cursor: pointer;
                    }
                    a{
                        color: #009FE4;
                    }
                }
            }
        }
    }
}

@import "media";
